<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="min-w-fit max-w-xl text-center">
  <mat-form-field class="min-w-fit max-w-lg w-full" appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher" placeholder="Ex. Bob">
    <mat-error *ngIf="registerForm.hasError('minlength', 'name') && !registerForm.hasError('required', 'name')">
      username must be 4 chararcters or longer
    </mat-error>
    <mat-error *ngIf="registerForm.hasError('maxlength', 'name') && !registerForm.hasError('required', 'name')">
      username must be 10 chararcters or shorter
    </mat-error>
    <mat-error *ngIf="registerForm.hasError('required', 'name')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="min-w-fit max-w-lg w-full" appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
      placeholder="Ex. superman@krypton.an">
    <mat-error *ngIf="registerForm.hasError('email', 'email') && !registerForm.hasError('required', 'email')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="registerForm.hasError('required', 'email')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="min-w-fit max-w-lg w-full" appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher" placeholder="Ex. ********">
    <mat-error *ngIf="registerForm.hasError('required', 'password')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="min-w-fit max-w-lg w-full" appearance="outline">
    <mat-label>Password confirmation</mat-label>
    <input type="password" matInput formControlName="passwordRepeat" [errorStateMatcher]="matcher"
      placeholder="Ex. ********">
    <mat-error
      *ngIf="registerForm.hasError('match', 'passwordRepeat') && !registerForm.hasError('required', 'password')">
      Passwords don't match
    </mat-error>
    <mat-error *ngIf="registerForm.hasError('required', 'passwordRepeat')">
      Password confirmation is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <div class="block">
    <button mat-raised-button class="min-w-fit w-1/3" color="primary" type="submit"
      [disabled]="!registerForm.valid">Register</button>
  </div>
</form>