<mat-toolbar color="primary" class="max-w-full">
    <button (click)="drawer.toggle()" mat-icon-button aria-label="Main menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="flex-auto"></span>
    <button mat-button [matMenuTriggerFor]="menu">
        {{this.shared.user?.name}}
        <mat-icon>person</mat-icon>
        <mat-icon>menu:down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a [routerLink]="['/profile']" mat-menu-item>Profile</a>
        <a [routerLink]="['/logout']" mat-menu-item>Logout</a>
    </mat-menu>
</mat-toolbar>

<mat-drawer-container class="h-[100vh]" autosize>
    <mat-drawer #drawer class="sm:p-2 md:p-5 min-h-fit h-fit" color="primary" mode="side">
        <p>
        <a mat-raised-button [routerLink]="['/', 'dashboard', 'tasks']" color="primary">Tasks</a>
        </p>
        <p>
        <a mat-raised-button [routerLink]="['/', 'dashboard', 'tasks', 'create']" color="primary">Create new task</a>
        </p>
        <p>
        <button mat-raised-button color="primary">Create new state</button>
        </p>
        <hr>
    </mat-drawer>

    <div class="min-w-fit max-w-screen-lg w-full m-auto">
    <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
