<mat-card class="min-w-fit sm:m-3 m-4">
    <mat-card-header>
      <div mat-card-avar></div>
      <mat-card-title>{{task.title}}</mat-card-title>
      <mat-card-subtitle>{{stateName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{task.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a [class.disabled]="!enabled" mat-raised-button [routerLink]="['edit', task.nr]" color="primary">Edit</a>
    </mat-card-actions>
</mat-card>

