<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="min-w-fit max-w-xl w-full text-center">
    <mat-form-field class="min-w-fit max-w-lg w-full" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
            placeholder="Ex. superman@krypton.an">
        <mat-hint>The email you registered with</mat-hint>
        <mat-error *ngIf="loginForm.hasError('email', 'email') && !loginForm.hasError('required', 'email')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.hasError('required', 'email')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="min-w-fit max-w-lg w-full" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher"
            placeholder="Ex. ********">
        <mat-error *ngIf="loginForm.hasError('required', 'password')">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button class="min-w-fit w-1/3" color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>