<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="w-full, max-w-lg">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label for="user-name">User name: </label>
      <input id="user-name" type="text" formControlName="name">
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label for="Email">email: </label>
      <input id="email" type="email" formControlName="email">
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label for="password">Password: </label>
      <input id="password" type="password" formControlName="password">
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label for="password-repeat">Password repeat: </label>
      <input id="password-repeat" type="password" formControlName="passwordRepeat">
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <button type="submit" [disabled]="!profileForm.valid">Register</button>
    </div>
  </div>
</form>